body
  font-family 'Roboto'

#playfield
  position: relative
  margin: 25px auto
  width: 415px
  height: 415px
  border: 10px solid #707070
  background: #707070
  border-radius: 10px
  touch-action: none

.back
  position: absolute
  z-index 1
  width: 100px
  height: 100px
  background: #a4a4a4
  border-radius: 10px

.tile
  position: absolute
  z-index 2
  width: 100px
  height: 100px
  background: #bababa
  border-radius: 10px
  display flex
  justify-content center
  align-items: center
  font-size 36pt
  user-select none
  cursor default
  transition-property left, top
  transition-duration 0.1s
  transition-timing-function ease-out

.tileBtn
  @extend .tile
  background-color rgba(0, 225, 0, 0.51)
  box-sizing border-box
  font-size 14pt
  text-align center
  line-height 12pt
  padding 25px
  cursor pointer
  &:active
    background-color #9b9b9b

.annotation
  margin 25px auto
  width 435px
  clear both
  overflow hidden
  color #707070
  & > h1
    margin 0
    font-size 38pt
    font-weight bold
    letter-spacing 4pt
    text-align center
  & > p
    float right
    margin 0
    & > a
      text-decoration: none
      &:link,
      &:visited
        color #000000
      &:hover
        color #a1a1a1

.topbar
  display flex
  justify-content flex-start
  margin 25px auto 0
  width 435px
  & > div
    display inline-block
    width 60px
    height 40px
    line-height 20px
    text-align center
    padding 5px
    border 5px solid #707070
    background #a4a4a4
    border-radius 10px
    color white
    margin-right 5px
    & > span
      display block


.topbar > button {
  margin-left auto
  border 5px solid #707070
  background #a4a4a4
  border-radius 10px
  width 110px
  height 60px
  color white
  font-weight bold
}
.topbar > button:focus {
  outline none
}
.topbar > button:active {
  background-color #707070
}